.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
}

.search-container h1 {
    margin-bottom: 48px;
}

.search-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.control-form-container {
    display: flex;
    justify-content: center
}

.search-form input[type="text"] {
    width: 360px;
}

.search-form input[type="submit"] {
    width: 88px;
}

.search-result {
    padding-top: 48px;
}

