@model IEnumerable<SearchResultViewModel>
<h5>Search result (@Model.Count()):</h5>
<table class="table">
    <thead>
        <tr class="d-flex">
            <th class="col-5">
                Name
            </th>
            <th class="col-3">Specialty</th>
            <th class="col-4">Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="d-flex">
            <td class="col-5">
                @Html.ActionLink(item.Name, "Details", new { id = item.Id })
            </td>
            <td class="col-3">
                @Html.DisplayFor(modelItem => item.Specialty)
            </td>
            <td class="col-4">
                @Html.DisplayFor(modelItem => item.Address)
            </td>
        </tr>
        }
    </tbody>
</table>
